@page
@model TechMove1._3.Web.Views.Contract.CreateModel
@{
}


<h2>Create Contract</h2>

<form method="post" enctype="multipart/form-data">

    <label>Client</label>
    <select name="ClientId">
        @foreach (var c in ViewBag.Clients)
        {
            <option value="@c.Id">@c.Name</option>
        }
    </select>

    <label>Start Date</label>
    <input type="date" name="StartDate" />

    <label>End Date</label>
    <input type="date" name="EndDate" />

    <label>Status</label>
    <select name="Status">
        <option>Draft</option>
        <option>Active</option>
        <option>Expired</option>
        <option>OnHold</option>
    </select>

    <label>Upload Signed Agreement (PDF)</label>
    <input type="file" name="file" />

    <button type="submit">Save</button>
</form>