@page
@model IEnumerable<TechMove1._3.Domain.Entities.Contract>
@{
}


<h1>Contracts</h1>

<a href="/Contract/Create" class="btn">Create Contract</a>

<table class="table">
    <thead>
        <tr>
            <th>Client</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th>File</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.Client?.Name</td>
                <td>@c.StartDate.ToShortDateString()</td>
                <td>@c.EndDate.ToShortDateString()</td>
                <td>@c.Status</td>
                <td>
                    @if (!string.IsNullOrEmpty(c.SignedFilePath))
                    {
                        <a href="/Contract/Download/@c.Id">Download</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>